.dim {
  opacity: .7; }

* {
  font-family: sans-serif !important; }

h1 {
  font-weight: 100;
  font-variant: small-caps; }

body {
  display: flex;
  background-image: url("../res/background01.jpg");
  background-size: cover;
  background-repeat: none; }

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  width: 150px; }
  #sidebar h1 {
    align-self: center;
    color: #FFF;
    font-size: 1.1em; }
  #sidebar img {
    padding-top: 15px;
    align-self: center;
    width: 80%;
    border-radius: 50%; }

nav {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding-top: 15px; }
  nav a {
    position: relative;
    color: white; }
    nav a:hover span:first-child, nav a .selected span:first-child {
      width: 100%; }
    nav a span:first-child {
      display: inline-block;
      background-color: #b400ff;
      height: 100%;
      width: 0%;
      transition: width 1s; }
    nav a span:last-child {
      position: absolute;
      top: 0px;
      left: 0px;
      margin-left: 10px; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1; }
  main * {
    color: #FFF; }
  main > section {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh; }
    main > section > h1 {
      align-self: center; }

a, a:hover, a:active, a:focus {
  outline: transparent !important; }
